body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#header-sec{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-des{
    padding: 10% 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.082);
    color: rgba(255, 255, 255, 0.979);
}
.donate-btn{
    text-decoration: none;
    background-color: rgb(247, 80, 51);
    color: white;
    font-size: 600;
    padding: 10px 10px;
    border-radius: 5px;
 }
 section{
    margin-bottom: 150px;
 }
#donate-today{
    padding: 0 100px;
}

 .donate-des{
    text-align: center;
    padding: 0 10%;
 }
 .pick-ammount{
    display: flex;
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
 }
 .pick-ammount div{
    width: 20%;
    background-color: rgba(128, 128, 128, 0.068);
    margin-left: 10px;
    border-radius: 5px;
    color: gray;
    font-size: 22px;
 }
 #money{
    border: 2px solid tomato;
    background-color: rgba(255, 99, 71, 0.103);
    color: tomato;
 }
 .other-ammount{
    text-align: center;
    margin-top: 40px;
 }
 .ammount{
    border: none;
 }
 .horizontal{
    width: 50%;
    margin-bottom: 20px;
 }
 .donate-btn{
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    margin-right: 30px;
 }